<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>MANY STORES to MANY BRANDS</title>
  </head>

  <body>
    <div class="jumbotron">

      <a href="/"><button type="button" class="btn btn-xs btn-default">return</button></a>

      <h4>stores : add to list</h4>

      <button type="button" class="btn btn-default" aria-label="Left Align">
          <a href="/store/{{store.getId}}/edit"><h3>edit {{store.getName}}</h3></a>
      </button>

      <form action="/store/{{store.getId}}/added_brand" method="post">

        <select name="brand_id">

            {% for brand in brands %}
            <option value="{{brand.getId}}">{{brand.getName}}</option>
            {% endfor %}

        </select>

        <button type="submit" class="btn btn-xs btn-default ">save brand</button>
      </form>

      {% for brand in store.getBrands %}
          <li>{{brand.getName}}</li>
      {% endfor %}
      
    </div>
  </body>
</html>
